@import 'tailwindcss';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-highlight: var(--highlight);
}

:root {
  --background: #ffffff;
  --foreground: black;
  --highlight: #ffef8d;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    box-sizing: content-box;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-size: 13px;
    font-weight: 400;
    line-height: 1.25;
  }

  hr {
    border-top-width: 0px;
  }
}
